
.App {
  text-align: center;
}

.navbar {
  
  height: 60px;
  
}

.cardsize{
	width: 200px;
	height: 200px;
	background:linear-gradient(89deg, #04C8DE 0%, #FF5EDF 100%);
}

.titlediv{
	height: 200px;
	padding-top: 50px;
}
      
